<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing temperature from web and api">
  <test thread-count="1" name="Test">
    <classes>
      <class name="tests.TestVagrantTempCheckTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
